<!DOCTYPE html>
<html lang="en">

<%- include ('./partials/head')  %>

<body>
  <%- include('./partials/header') %>

  <div class="products-wrapper">

    <div class="col-12">
        <form action="/products/edit/¿?" method="___">
            <div class="row product-detail">
                <div class="col-12 col-md-6">
                    <label for="name" class="form-label">Nombre del juego:</label>
                    <input type="text" id="name" name="name" value = <%= game.name %>  class="form-input">
                </div>
                <div class="col-12 col-md-6">
                    <label for="price" class="form-label">Precio del juego:</label>
                    <input type="text" id="price" name="price" value=<%= game.price %>  class="form-input">
                </div>
                <div class="col-12 col-md-6">
                    <label for="discount" class="form-label">Descuento:</label>
                    <input type="text" id="discount" name="discount" value=<%= game.discount %>  class="form-input">
                </div>
                <div class="col-12">
                    <label for="description" class="form-label">Descripción:</label>
                    <textarea rows = "8" name="description" id="description" class="form-input"><%= game.description %></textarea>
                </div>
                <div class="col-12 col-md-6">
                    <label for="category" class="form-label">Categoría:</label>
                    <select name="category" id="category" class="form-input">
                        <option value=""><%= game.category %> </option>
                        <option value="in-sale">Horror</option>
                        <option value="visited" >Action</option>
                        <option value="visited" >Sports</option>
                        <option value="visited" >Casual</option>
                        <option value="visited" >Board</option>
                        <option value="visited" >Racing</option>
                        <option value="visited" >Fight</option>
                        <option value="visited" >Arcade</option>

                    </select>
                </div>
                <input type="file" id="boton-carga-cg" name="imagen" accept=".jpg, .png, jpeg">
                <div class="col-12">
                    <button type="submit" class="buy-now-button">Guardar producto</button>
                </div>

        </form>
    </div>

</div>

  <!-- Site footer -->
 <%- include ('./partials/footer.ejs') %>





</body>

</html>