<!DOCTYPE html>
<html lang="en">

<%- include ('./partials/head') %>


    <body>

        <%- include('./partials/header') %>

            <main>
                <h1> Editar <%= game.name %>
                </h1>

                <form class="form-edit-game">
                    <div class="content-image"> <img src="<%= game.image %>"> </div>


                    <div class="content-game-descript"> <label for="name">
                 <input type="text" name="name" value="<%= game.name %> "> </label>
      
                 <label for="price"> <input type="text" name="price" value="<%= game.price %> "> </label>
                 <label for="genre"><input type="text" name="genre" value="<%= game.gameGenre.name %> "> </label>

                 <%genres.forEach(element => {%> <li> <input type="radio"   class="genreToCheck"><%= element.name %></input></li>
    <% }) %>

                  
                  
                 <label for="name"><input type="text" name="name" value="<%= game.gamePlatform.name %> "> </label> 

                 <%platforms.forEach(element => {%> <li> <input type="radio"   class="genreToCheck"><%= element.name %></input></li>
                 <% }) %>


                </div>



                    </form>
 
                    </main>

            <!-- Site footer -->
            <%- include ('./partials/footer.ejs') %>





    </body>

</html>