<!DOCTYPE html>
<html lang="en">

<%- include ('./partials/head')  %>

<body>
  <%- include('./partials/header') %>


  <div class="slideShow">
    <img class="mySlides" src="/images/fifa21.jpeg" >
    <img class="mySlides" src="/images/GTA.jpg" >
    <img class="mySlides" src="/images/LOF.jpg" >
    <img class="mySlides" src="/images/godOfWar.jpg" >
  </div>
  <br>
  <br>


  <h4 class='estrenos'>Últimos estrenos</h4>
  <div class="filter">

    <button class="boton">Filtro
      <i class="fas fa-filter"></i>


  </div>


  <div class='main'>
    <div class="drawer">
      <h3 align="left" class="w3-bar-item">Categories</h3>
      <ul style="list-style-type:none;">

        <li><input type="checkbox"> Horror</li>
        <li><input type="checkbox"> Action</li>
        <li><input type="checkbox"> Sports</li>
        <li><input type="checkbox"> Casual</li>
        <li><input type="checkbox"> Board</li>
        <li><input type="checkbox"> Racing</li>
        <li><input type="checkbox"> Fight</li>
        <li><input type="checkbox"> Arcade</li>

      </ul>



    </div>
    <section class='container'>
      <% games.forEach(element => { %>
        <article>
          <a href="/products/<%= element.id %>"  >
            <img src = <%=element.image %>   alt="hola" width="160px" class="pictures">
          </a>
        </article>

      <% }) %>
    </section>
  </div>

  <!-- Site footer -->
 <%- include ('./partials/footer.ejs') %>



  <script>
    var myIndex = 0;
    carousel();

    function carousel() {
      var i;
      var x = document.getElementsByClassName("mySlides");
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
      }
      myIndex++;
      if (myIndex > x.length) { myIndex = 1 }
      x[myIndex - 1].style.display = "block";
      setTimeout(carousel, 5000); // Change image every 2 seconds
    }
  </script>


</body>

</html>





symlink