<!DOCTYPE html>
<html lang="en">

<%- include ('./partials/head')  %>

<body class = <%=color %> id='body-mp' >
  <%- include('./partials/header') %>

    <main id = 'main-mp'>
      <p><%= message %> </p>
    </main>


  </main>
        <%- include ('./partials/footer.ejs') %>

        <script >
            setTimeout(function(){
            window.location.href = 'http://localhost:3002/';
         }, 5000);
        </script>
</body>

</html>
