<!DOCTYPE html>
<html lang="en">

  <%- include('./partials/head.ejs')  %>

<body class="bodyDetail">
  <%- include('./partials/header.ejs')  %>


  <script src = '/validations/darkMode.js'></script>

  <section>


        <article>
            <div class="nombre">
                <%= game.name %> </div>
            <div class="cont-padre">
                <div class="contenedor-info">
                    <img class="image" src =<%= game.image  %>   ;>
                    <br>
                    <span class="tip"><i class="fas fa-dollar-sign"><%= game.price  %> </span></i>
                    
                    <div class="iconos">
                        <!-- <i class="fas fa-dollar-sign"><span class="tip"><%= game.price  %> </span></i> -->
                        
                        
                        
                        <div class="container99">
                            Cantidad
                            <button class="voton quitar">-</button>
                            <span id="valor">1</span>
                            <button class="voton agregar">+</button>
                            
                            
                        </div>
                <li>        
                    <a href= "/user/login" ><button class="add-to-cart"> Agregar al carrito</button></a>
                </li>
                <li>
                    <a href= "/user/login" ><button class="buy-now"> Comprar Ahora </button></a>
                </li>
                    </div>
                </div>    
                <div class="descripcion">
                    <h5>Descripcion</h5>
                <p class = "pContainerDescriptionGame">
                  <%= game.description %>
                </p>

                <div class="social">
                    
                        <li>

                          <button class="far fa-heart" ><a href= "/user/login" > <span class='fav-opacity'> Marcar como favorito</a></span></button>

                        
                        </li>
                      
                    <!-- <i class="fas fa-comment"></i> -->
                    
                        <li>

                          <button class="far fa-share-alt" > <a href= "/user/login" > <i class="fas fa-share-alt"></i> <span class='fav-opacity'>  Compartir</a></span></button>

                        
                        </li>
                      


                    <!-- <i class="fas fa-share-alt"><span class='fav-opacity'> Compartir</span> </i> -->
                </div>

                




                </div>
        </div>

        <% if (locals.user && locals.user.RoleId == 2) { %>
            <div class="icons">
                <a href= "/products/<%=game.id %>/edit " class="button">
                     Editar
                </a>
                <form class="editForm" method="POST" action="/products/<%=game.id %>/delete?_method=DELETE" >
                <a href="/products/<%=game.id  %>/delete ">
                    <button class="button button2" type="submit">Eliminar</button>
                </a>
                </form>
                </div>

        <% } %>

           <!--  <div class="cuadro">
                <div>
                    Requisitos
                </div>
                <div class="caracteristicas">
                    <%= game.requirements %>
                </div>

            </div> -->


        </article>
        <div class="cuadro">
            <div class = "containerTrailer">
                <span>Trailer</span>
            </div>
        </div>

        <div class=”video-responsive”>
            <iframe src =<%=game.link %>  title="YouTube video player" frameborder="0" width = "100%" height = 360px
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>


        <!-- <div class="commented">
            <i class="far fa-user-circle iconcomented"></i>

        </div> -->

    </section>

    <%- include('./partials/footer.ejs')  %>

<script src="../js/counter.js"></script>
    <script src = '/validations/darkMode.js'></script>
</body>

</html>