<!DOCTYPE html>
<html lang="en">

  <%- include('./partials/head.ejs')  %>

<body>
  <%- include('./partials/header.ejs')  %>

  <section>


        <article>
            <div class="nombre">
                <%= game.name %> </div>
            <div class="cont-padre">
                <div class="contenedor-info">
                    <img class="image" src =<%= game.image  %>   ;>
                    <div class="social">
                        <form method="POST" action="/products/favorites">
                            <li>

                              <button type="submit" class="far fa-heart" name = 'fav' value =<%=[locals.user.id,game.id]%> ></button>

                            </a>
                            </li>
                          </form>
                        <i class="fas fa-comment"></i>
                        <i class="fas fa-share-alt"></i>
                    </div>
                </div>
                <div class="descripcion">
                    <h5>Descripcion</h5>
                <p class = "pContainerDescriptionGame">
                  <%= game.description %>
                </p>
                <% if (locals.user && locals.user.RoleId == 2) { %>
                    <div class="icons">
                        <a href= "/products/<%=game.id %>/edit " class="button">
                             Editar
                        </a>
                        <form class="editForm" method="POST" action="/products/<%=game.id %>/delete?_method=DELETE" >
                        <a href="/products/<%=game.id  %>/delete ">
                            <button class="button button2" type="submit">Eliminar</button>
                        </a>
                        </form>
                        </div>

                <% } %>




                </div>
        </div>
        <div class="iconos">
            <i class="fas fa-dollar-sign"><span class="tip"><%= game.price  %> </span></i>
            
            
            <div class="container99">
                <button class="voton quitar">-</button>
                <span id="valor">1</span>
                <button class="voton agregar">+</button>
                <i class="fas fa-shopping-bag"><span class="tip"></span></i>
                <h4>Comprar</h4>
            </div>

            <i class="fas fa-cart-plus chart"><form method="POST" action="/product-cart/">
                <li>

                  <button type="submit" name = 'add' value = <%=[locals.user.id,game.id,7,game.price]%> >Agregar al carrito</button>


                </li>
              </form></i>
        </div>
            <div class="cuadro">
                <div>
                    Requisitos
                </div>
                <div class="caracteristicas">
                    <%= game.requirements %>
                </div>

            </div>


        </article>
        <div class="cuadro">
            <div class = "containerTrailer">
                <span>Trailer</span>
            </div>
        </div>

        <div class=”video-responsive”>
            <iframe src =<%=game.link %>  title="YouTube video player" frameborder="0" width = "100%" height = 360px
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>


        <div class="commented">
            <i class="far fa-user-circle iconcomented"></i>

        </div>

    </section>

    <%- include('./partials/footer.ejs')  %>

<script src="../js/counter.js"></script>
</body>

</html>