<!DOCTYPE html>
<html lang="en">

  <%- include('./partials/head.ejs')  %>

<body class="bodyDetail">
  <%- include('./partials/header.ejs')  %>

  <script src = '/validations/darkMode.js'></script>
  <section>


        <article>
            <div class="nombre">
                <%= game.name %> </div>
            <div class="cont-padre">
                <div class="contenedor-info">
                    <img class="image" src =<%= game.image  %>   ;>
                    <br>
                    <span class="tip"> <i class="fas fa-dollar-sign"></i> <%= game.price  %> </span></i>
                                
                    <div class="iconos">
                        <!-- <i class="fas fa-dollar-sign"><span class="tip"><%= game.price  %> </span></i> -->
                        
                        
                        
                        <div class="container99">
                            Cantidad
                            <button class="voton quitar">-</button>
                            <span id="valor">1</span>
                            <button class="voton agregar">+</button>
                            
                            
                        </div>
                        <form  method="POST" action="/product-cart/">
                            <li>
                                <input type="hidden" value="<%=[locals.user.id]%>" name="user">
                                <input type="hidden" value="<%=[game.id]%>" name="game">
                                <input type="hidden" value="1" name="qty">
                                <input type="hidden" value="<%=[game.price]%>" name="price">
                                <button class="add-to-cart" type="submit" name='add'  >Agregar al carrito <!-- <i
                                        class="fas fa-shopping-bag"><span class="tip"></span></i> --> </button>
                            </li>
                        </form></i>
                        <form  method="POST" action="/buy-now/">
                            <li>
                                <input type="hidden" value="<%=[locals.user.id]%>" name="user">
                                <input type="hidden" value="<%=[game.id]%>" name="game">
                                <input type="hidden" value="1" name="qtyB">
                                <input type="hidden" value="<%=[game.price]%>" name="price">
                                <button class="buy-now" type="submit" name='buy'  >Comprar Ahora <!-- <i
                                        class="fas fa-cart-plus chart"></i> --> </button>
                            </li>
                        </form></i>
                    </div>



                </div>
            
                <div class="descripcion">
                    <h5>Descripcion</h5>
                <p class = "pContainerDescriptionGame">
                  <%= game.description %>
                </p>

                <div class="social">
                    <form method="POST" action="/products/favorites">
                        <li>

                          <button type="submit" class="far fa-heart" name = 'fav' value =<%=[locals.user.id,game.id]%> ><span class='fav-opacity'> Marcar como favorito</span></button>

                        </a>
                        </li>
                      </form>
                    <!-- <i class="fas fa-comment"></i> -->
                    <form method="POST" action="/products/favorites">
                        <li>

                          <button type="submit" class="fas fa-share-alt" name = 'fav' value =<%=[locals.user.id,game.id]%> ><span class='fav-opacity'> Compartir</span></button>

                        </a>
                        </li>
                      </form>


                    <!-- <i class="fas fa-share-alt"><span class='fav-opacity'> Compartir</span> </i> -->
                </div>

                




                </div>
        </div>

        <% if (locals.user && locals.user.RoleId == 2) { %>
            <div class="icons">
                <a href= "/products/<%=game.id %>/edit " class="button">
                     Editar
                </a>
                <form class="editForm" method="POST" action="/products/<%=game.id %>/delete?_method=DELETE" >
                <a href="/products/<%=game.id  %>/delete ">
                    <button class="button button2" type="submit">Eliminar</button>
                </a>
                </form>
                </div>

        <% } %>

           <!--  <div class="cuadro">
                <div>
                    Requisitos
                </div>
                <div class="caracteristicas">
                    <%= game.requirements %>
                </div>

            </div> -->


        </article>
        <div class="cuadro">
            <div class = "containerTrailer">
                <span>Trailer</span>
            </div>
        </div>

        <div class=”video-responsive”>
            <iframe src =<%=game.link %>  title="YouTube video player" frameborder="0" width = "100%" height = 360px
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>


        <!-- <div class="commented">
            <i class="far fa-user-circle iconcomented"></i>

        </div> -->

    </section>

    <%- include('./partials/footer.ejs')  %>

<script src="../js/counter.js"></script>
    <script src = '/validations/darkMode.js'></script>
</body>

</html>