<!DOCTYPE html>
<html lang="en">
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>
  <%- include('./partials/header.ejs') %>
  <section class="page-chart">
    <div class="encabezado-chart">
      Compra


      <a>Favoritos <i class="fas fa-star"></i></a>
    </div>


    <% for( let i = 0; i < cart.length; i++ ) { %>
      <div class="juegos-chart">
        <img src= <%=games[i].image  %> class="portada-chart" width = 1000px>
        <div class="descripcion-chart">
          <%=games[i].name  %>
        </div>

        <i class="far fa-star"></i>
        <i class="fas fa-trash"></i>
        <i class="fas fa-plus"></i>
        <p><%=cart[i].quantity  %></p>
        <i class="fas fa-minus"></i>
        <div><%=cart[i].price  %></div>


      </div>

    <% } %>






  </section>

  <div class="buttomtotal-chart otroColor">
    <a href = '/purchase-detail'>
    <button>Continuar Compra</button>
    </a>
  </div>

  <%- include('./partials/footer.ejs') %>





</body>

</html>