<!DOCTYPE html>
<html lang="en">

  <%- include('./partials/head.ejs')  %>

<body>
  <%- include('./partials/header.ejs')  %>
  <form class="editForm" method="POST" action="/products/<%=game.id %>/delete?_method=DELETE" >
  <section>


        <article>
            <div class="nombre">
                <%= game.name %> </div>
            <div class="cont-padre">
            <div class="contenedor-info">
                <img class="gta" src =<%= game.image  %>  width="300px" ;>

                <div class="iconos">
                    <i class="fas fa-dollar-sign"><span class="tip"><%= game.price  %> </span></i>
                    <i class="fas fa-percent"><span class="tip"><%= game.discount  %>$ off </span></i>
                    <i class="fas fa-cart-plus chart"><a href="https://www.com"><span class="tip">Comprar</span></a></i>



                </div>
                <div class="social"><i class="fas fa-heart"></i>
                    <i class="fas fa-comment"></i>
                    <i class="fas fa-share-alt"></i>

                </div>
            </div>
            <div class="descripcion">
                <h5>Descripcion</h5>
                <p>
                  <%= game.description %>
                </p>
                <div class="icons">
                <a href= "/products/<%=game.id %>/edit "
                    <button class="button">Editar</button>
                </a>
                <a href="/products/<%=game.id  %>/delete ">
                    <button class="button button2" type="submit">Eliminar</button>
                </a>

            </div>

            </div>
        </div>
            <div class="cuadro">
                <div>
                    Requisitos
                </div>
                <div class="caracteristicas">
                    <%= game.requirements %>
                </div>

            </div>


        </article>
        <div class="cuadro">
            <h4>Trailer</h4>

        </div>

        <div class=”video-responsive”>
            <iframe src =<%=game.link %>  title="YouTube video player" frameborder="0" width = "100%" height = 360px
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>


        <div class="commented">
            <i class="far fa-user-circle iconcomented"></i>

        </div>

    </section>
</form>
    <%- include('./partials/footer.ejs')  %>


</body>

</html>