<!DOCTYPE html>
<html lang="en">
<html lang="en">

<%- include('./partials/head.ejs') %>

  
    <%- include('./partials/header.ejs') %>
    <script src = '/validations/darkMode.js'></script>
    
      <section class="productBody">
        <div class="encabezado-chart">
          Compra


          <a>Favoritos <i class="fas fa-star"></i></a>
          <a href="./myPurchases">Mis Compras <i class= "fas fa-shopping-cart"></i></a>
        </div>

        <% if (cart.length==0 ) { %>
          <div class="juegos-chart">
            <p class='empty-cart'>Tu carrito esta vacio </p>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>

          </div>


          <% } else { %>
            <p class = 'userId'>
              <%= locals.user.id %>
            </p>
            <% for( let i=0; i < cart.length; i++ ) { %>
              <div class="juegosChart">
                <img src=<%=games[i].image %> class="portada-chart" width = 1000px>
                <p class='gameId'>

                  <%= games[i].id %>
                </p>

                <div class="descripcion-chart">
                  <%=games[i].name %>
                </div>

                <% if (favorites[i]) { %>
                  <span class = 'coranzonn' ><i class="fa fa-heart" aria-hidden="true" ></i> </span>

                <% } else { %>
                  <span class = 'coranzonn' ><i class="fa fa-heart-o" aria-hidden="true" ></i> </span>
                  <% } %>
                <button class = 'trash'>
                  <i class="fas fa-trash"></i>
                </button>

                <div class='cantidadCart'>
                  <button class='menos'>
                    <i class="fas fa-minus"></i>
                  </button>

                  <p class='number'>
                    <%=cart[i].quantity %>
                  </p>
                  <button class='mas'>
                    <i class="fas fa-plus"></i>
                  </button>

                </div>
                $
                <div class='pricess'>
                  <%=cart[i].price %>
                </div>


              </div>

              <% } %>

                <div class="buttomtotal-chart otroColor">
                  <a href='/purchase-detail'>
                    <button>Continuar Compra</button>
                  </a>
                </div>

                <% } %>








      </section>



      <%- include('./partials/footer.ejs') %>



       <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="/validations/cart-scripts.js"></script>
        <script src = '/validations/darkMode.js'></script>

  </body>

</html>