<!DOCTYPE html>
<html lang="en">

<%- include ('./partials/head')  %>

<body>

    <%- include('./partials/header') %>

        <section class = "sectionContainer">
            <div class="container1">
                <h2>Mi Cuenta</h2>
            </div>

            <div class="dataAccount">
                <div class="container2">
                    <img src=<%= image %> alt="Imagen Usuario" width=200%><br>
                    <h3>Mis Datos</h3>
                    <h4><i class="fas fa-user"></i> <%= firstName %>  <%= lastName %>  <br></h4>
                    <h4><i class="fas fa-envelope"></i> <%= email %>  <br></h4>
                    <h4><i class="fas fa-birthday-cake"></i> <%= bday %>  <br></h4>
                    <!-- <h4>Miembro desde: <%= since %>  <br></h4> -->

                    <!-- <h4><i class="fas fa-phone"></i> +549 11 2345679 <br></h4> -->
                </div>

                <div class="container3">
                    <a href="../myPurchases"><h3>Mis Compras</h3></a> 
                    <br>
                    <h4><i class="fas fa-shopping-cart"></i> ¡Seguí comprando! <br></h4>
                    <br>
                    <div class="tienda">
                        <h4><a style="text-decoration:none; color:white" href= "../products/search?q=">Ir a la Tienda</a></h4>
                    </div>
                    <br>
                    
                    <div class="actionsUser">
                      
                        <!-- <button class="button button999" type="submit">Borrar cuenta</button> -->
                        <% if (locals.user && locals.user.RoleId == 2) { %>
                        <a style="text-decoration:none" href="/products/create"><button class="button button998" type="submit">Cargar juego</button></a>
                        <% } %>

                        <form method="post" action="/user/logout">
                            <li>
                              <a style="text-decoration:none" href="/user/logout">
                                <button class="button button999" type="submit">Salir</button>
              
                            </a>
                            </li>
                          </form>    

                    </div>


                </div>

            </div>

        </section>


        <script src = '/validations/darkMode.js'></script>
</body>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

<%- include ('./partials/footer.ejs') %>
</html>