<!DOCTYPE html>
<html lang="en">

<%- include ('./partials/head')  %>

<body class="body-search">
  <%- include('./partials/header') %>
  <script src = '/validations/darkMode.js'></script>
<div class="main-search">

<div class="filter_navbar">

  <h2 class="filterTitle">Filtrar Juegos</h2>


  <div class="price_Filter">
     </div>
    <button class="button_filter">Filtro
      <i class="fas fa-filter"></i></button>
<div class="filters-Check-Box">

<ul>
  <%genres.forEach(element => {%> <li> <input type="checkbox" value = <%= element.id %>    class="genreToCheck"><%= element.name %></input></li>
    <% }) %>

</ul>

<ul>

  <%platform.forEach(element => {%> <li> <input type="checkbox" value = <%= element.id %>   class="platformToCheck"><%= element.name %></input></li>
  <% }) %>

</ul>


</div>



<button type="submit" id="submit" class="filterBoton" >  <img src="/images/logo1.png" width="45px" height="45px"/> Buscar</button>



</div>
<div class="main-games-search">
  <% if (games.length <=0 ) { %>
    <h2 class="not-search"> No se encontraron juegos</h2>
    
   <% } else {%> <h2 class="search-found">Los resultados para tu búsqueda son:</h2> <% } %> 
<div class="games-conteiner">

  <% if (games.length) { %>
    <%games.forEach(element => {%>

      <article class="individual-game-container">






         <div class="image-containe">
          <a href="/products/<%=element.id%>"> <img src = <%=element.image %>   alt="game" width="160px"  class="image-game-cover"></a>
    </div>
    <div class="cont-price-buttons">
       <a href="/products/<%=element.id%>"> <h3 class="game-name"> <%= element.name%>   </h3></a>
        <h4 class="game-price">$<%= element.price %> </h4>


        <!-- <div class="buttons-article-container">
        <a buy-button-search><i class="fas fa-shopping-cart cart-article-search">Agregar</i> </a><br> <a class="buy-button-search" >Comprar</a>
      </div> -->
      </div>
      </article>

      <% }) %>



  <% } else{ %>


    <h2 color = white margin =auto text-align = center>No se encontraron resultados para esta busqueda</h2>

  <% } %>

</div>
</div>
</div>
<%- include ('./partials/footer.ejs') %>

<!-- <script src ="/js/search-page.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src ="/validations/searchFilter.js"></script>

</body>
  </html>


